body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
}

.input-box {
  display: flex;
  gap: 10px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

#add-btn {
  padding: 10px 20px;
  border: none;
  background: #16a34a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 5px;
}

button {
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  background-color: #3b82f6;
  color: white;
}

.delete-btn {
  background-color: #dc2626;
  color: white;
}
