body {
  margin: 0;
}

.form-container {
  height: 100vh;
  width: 30vw;
  margin: auto;
  align-content: center;
}

#user-form {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

input {
  height: 24px;
}

select {
  height: 28px;
}

button {
  height: 32px;
  background-color: skyblue;
  border: 1px solid;
  border-radius: 4px;
}
